/* 背景 */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top right, #dff6e6, #ccf3f9);
    font-family: "M PLUS 1p", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    background-image: url('../images/BG.png');
    /* 背景圖片 */
    background-size: cover;
    /* 背景圖片鋪滿 */
    background-repeat: no-repeat;
    /* 不要重複 */
    background-position: center center;
    /* 置中顯示 */
}
  
  /* 整體容器 */
  .container {
    width: 844px;
    height: 390px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .try-hint img {
    width: 300px;
    height: 230px;
    object-fit: contain;
    margin-top: 35px;
    animation: breathing 2s ease-in-out infinite;
  }
  
  /* 呼吸式放大縮小動畫 */
  @keyframes breathing {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1); /* 放大到1.1倍 */
    }
    100% {
      transform: scale(1);
    }
  }
  
  
  /* 主標題 */
  .main-title {
    font-size: 36px;
    color: #2d9999;
    font-weight: 900;
    margin-top: 3px;
    margin-bottom: 2px;
  }
  
  /* 小文字說明 */
  .sub-text {
    font-size: 15px;
    color: #2d9999;
    line-height: 1.4;
    font-weight: 700;
    margin-top: 1px;
    margin-bottom: 10px;
  }
  
/* 箭頭按鈕 */
.arrow {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 150px;
    height: 80px;
    background-image: url('arrow.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 20px;
    cursor: pointer;
}

/* 只有hover的時候才發光，而且順著透明邊緣 */
.arrow:hover {
    filter: drop-shadow(0 0 10px #ffd5005e);
    transition: all 0.3s ease;
}

/* 文字動畫 */
.arrow-text {
    color: #D9AD0F;
    font-weight: 900;
    font-size: 20px;
    transition: transform 0.3s ease;
}

.arrow:hover .arrow-text {
    transform: scale(1.2);
}